<footer class="text-start text-md-center text-lg-center">
    <div class="footer-content">
        <div class="footer-item">
            <h3 class="text-info text-center">Nous suivre</h3>
            <ul class="social-icon">
                <li class="social-icon-item">
                    <a href="mailto:entreprise.snicgroup@gmail.com" class="social-icon-link" title="Enoyer nous un email">
                        <i class="fa-regular fa-envelope"></i>
                    </a>
                </li>
                <li class="social-icon-item">
                    <a href="https://www.facebook.com/profile.php?id=61568288361318" target="_blank" class="social-icon-link" title="Notre page facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </li>
                <li class="social-icon-item">
                    <a href="https://x.com/SnicGroup" target="_blank" class="social-icon-link" title="Notre page x">
                        <i class="fa-brands fa-x"></i>
                    </a>
                </li>
                <li class="social-icon-item">
                    <a href="https://www.youtube.com/channel/UCFiA-QuXID1QwC7Hk0lIXtQ" target="_blank" class="social-icon-link" title="Notre chaine youtube">
                        <i class="fa-brands fa-youtube"></i>                       
                    </a>
                </li>
                <li class="social-icon-item">
                    <a href="http://www.linkedin.com/in/snic-group-a08450336" target="_blank" class="social-icon-link">
                        <i class="fa-brands fa-linkedin"></i>                        
                    </a>
                </li>
                <li class="social-icon-item">
                    <a href="https://whatsapp.com/channel/0029VaotBQq7T8beKTEC0o3t" target="_blank" class="social-icon-link" title="Notre chaine whatsapp">
                        <i class="fa-brands fa-whatsapp"></i>                        
                    </a>
                </li>
                <li class="social-icon-item">
                    <a href="https://github.com/SnicGroup" target="_blank" class="social-icon-link" title="Nos repository github">
                        <i class="fa-brands fa-github"></i>                       
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-item">
            <h3 class="text-info text-center">Liens rapides</h3>
            <ul class="" style="">
                <li class=""><a href="{% url 'about' %}">a propos</a></li>
                <li class=""><a href="{% url 'service' %}">services</a></li>
{#                <li class=""><a href="{% url 'contact' %}">contact</a></li>#}
{#                <li class=""><a href="{% url 'temoignage' %}">temoignage</a></li>#}
            </ul>
        </div>
        <div class="footer-item">
            <h3 class="text-info text-center">Mention légales</h3>
            <ul class="">
                <li><a href="#">condition d'utilisation</a></li>
                <li><a href="#">politique de confidentialité</a></li>
            </ul>
        </div>
    </div>
    <div class="text-center" style="background: whitesmoke; color: #2eb0f0; font-weight: bold; font-size: 1.2em">
        <p>Powered by SNIC GROUP</p>
    </div>
</footer>